@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    position: fixed;
    height: 10vh;
    background-color: white;
    z-index: 9999;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.219);
}

nav {
    margin: auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 5px;
    color: black;
}

.logo {
    padding-top: 3px;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    font-size: 30px;
}


ul {
    display: flex;
}

ul button {
    color: white;
    background-color: #6e07f3;
    padding: 10px 10px;
    line-height: 0px;
    margin: 5px 0;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s ease;
}

ul button a {
    color: white;
    outline: none;
    text-decoration: none;
}

ul li {
    margin: 8px 10px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}


li::after {
    display: block;
    width: 0%;
    margin: auto;
    height: 3px;
    content: '';
    transition: width 0.3s ease, background-color 0.3s ease;
}

li:hover:after {
    width: 100%;
    background-color: black;
}


.btn {
    background-color: var(--blue);
    color: var(--whitee);
    border: none;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 10px;
}

.btn-1 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 0px;
}

.hamburger {
    display: none;
}


.check1 {
    display: none;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5px);
    flex-direction: column;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.section-1 h1 {
    font-size: 3rem;
    padding: 10px 0px;
}

.section-1 p {
    font-size: 1.5rem;
    padding: 10px 0px;
}

.section-1 img {
    padding-top: 40px;
}

.icons {
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.219);
}

.icons i {
    font-size: 2rem;
    color: black;
    margin: 10px 0px;
}

.git{
    position: absolute;
    padding: 5px 5px;
    color: white;
    border-radius: 6px;
    top: 15px;
    letter-spacing: 2px;
    background-color: black;
    transform: translateX(100px);
    pointer-events: none;
    opacity: 0;
    transition-delay: 1s;
    transition: .8s ease;
}

.link1:hover + .git{
    transform: translateX(70px);
    opacity: 1;
    visibility: visible;
}

.link{
    position: absolute;
    padding: 5px 5px;
    color: white;
    border-radius: 6px;
    top: 65px;
    letter-spacing: 2px;
    background-color: #0072b1;
    transform: translateX(100px);
    pointer-events: none;
    opacity: 0;
    transition-delay: 1s;
    transition: .8s ease;
}

.link2:hover + .link{
    transform: translateX(78px);
    opacity: 1;
    visibility: visible;
}

.face{
    position: absolute;
    padding: 5px 5px;
    color: white;
    border-radius: 6px;
    top: 120px;
    letter-spacing: 2px;
    background-color: #4267B2;
    transform: translateX(100px);
    pointer-events: none;
    opacity: 0;
    transition-delay: 1s;
    transition: .8s ease;
}

.link3:hover + .face{
    transform: translateX(85px);
    opacity: 1;
    visibility: visible;
}
.icons i:nth-child(2) {
    color: #0072b1;
}

.icons i:nth-child(3) {
    color: #4267B2;

}


.section-2 {
    /* background-image: linear-gradient(to right bottom, #6e07f3, #7912ff); */
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-12 {
    max-width: 90%;
    width: 100%;
}

.heading-sec {
    width: 100%;
    text-align: center;
}

.heading-sec h1 {
    font-size: 3rem;
}

.heading-sec h1::after {
    display: block;
    width: 10%;
    border-radius: 5px;
    margin: auto;
    height: 6px;
    content: '';
    background-color: #6e07f3;
}

.heading-sec p {
    font-size: 1.3rem;
    padding: 2% 10%;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-top: 20px;
}

.about-1 {
    text-align: left;
    padding: 30px 50px;
}

.about-1 h3 {
    font-size: 40px;
}

.about-1 figcaption {
    padding: 10px 0px;
    font-size: 17px;
}

.about-1 button {
    color: white;
    background-color: #6e07f3;
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.about-1 button:hover {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.219);
}

.about-1 button i {
    transform: rotate(45deg) translateY(2px);
    font-size: 17px;
    margin-left: 5px;
}

.about-1 button a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
}

.about-2 {
    padding: 0px 10px;
    margin: 0%;
    text-align: start;
}

.about-2 label {
    font-size: 20px;
    background-color: #6e07f3;
    padding: 5px;
    color: white;
    border-radius: 5px;
    text-align: left;
    margin: 0px 4px;
}

.about-2 .data {
    margin-top: 15px;
}

.about-2 h3 {
    font-size: 40px;
    padding: 20px 0px;
}

.skill {
    padding: 30px 0px;
}

.skill span label {
    background-color: #6e07f3;
    content: '';
    border-radius: 5px;
    display: block;
    margin-left: 0;
}

.html {
    width: 90%;
    padding: 0;
    animation: htm 1s linear;
}

@keyframes htm {
    0% {
        opacity: 0;
        width: 0%;
    }

    90% {
        width: 90%;
    }
}

.css {
    width: 85%;
    padding: 0;
    animation: cs 1s linear;
}

@keyframes cs {
    0% {
        opacity: 0;
        width: 0%;
    }

    85% {
        width: 85%;
    }
}

.bootstrap {
    width: 70%;
    padding: 0;
    animation: boot 1s linear;
}

@keyframes boot {
    0% {
        opacity: 0;
        width: 0%;
    }

    70% {
        width: 70%;
    }
}

.pho {
    width: 60%;
    padding: 0;
    animation: ph 1s linear;
}

@keyframes ph {
    0% {
        opacity: 0;
        width: 0%;
    }

    60% {
        width: 60%;
    }
}

.skill span {
    width: 100%;
    background-color: #c9c9c9;
    height: 10px;
    content: '';
    border-radius: 5px;
    display: block;
}

.skill h4 {
    padding: 10px 0;
}

.project {
    width: 100%;
    height: 120vh;
}

.heading {
    padding-top: 40px !important;
}

.gallary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    place-items: center;
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: auto;
    gap: 10px 10px;
}

.images img {
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.images {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.gall {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.589);
    width: 100%;
    border-radius: 10px;
    color: white;
    position: absolute;
    height: 97%;
    top: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    padding-bottom: 0px;
    transition: .5s ease-in-out;
}

.images:hover .gall {
    opacity: 1;
    visibility: visible;
    top: 0%;
    transition: top .5s ease linear;
}

.contact {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contact form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 40%;
    width: 100%;
    flex-direction: column;
}

.contact form input,
.contact form textarea {
    width: 100%;
    resize: none;
    height: 40px;
    padding: 0px 10px;
    margin: 5px 0px;
    outline: none;
    border: 1px solid black;
}

.contact form input:focus,
.contact form textarea:focus {
    border: 1px solid #6e07f3;
}

.contact form textarea {
    height: 100px;
    padding: 10px 10px;
}

form button {
    color: white;
    text-align: center;
    background-color: #6e07f3;
    font-size: 17px;
    padding-right: 20px;
    padding: 6px 20px;
    text-align: center;
    border-radius: 8px;
    margin: 5px 0px;
    border: none;
    text-align: center;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: #6e07f3;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: white;
}

@media only screen and (max-width: 900px) {
    nav ul {
        display: block;
        height: 100vh;
        background: white;
        width: 30%;
        right: -60%;
        position: fixed;
        margin-top: 50px;
        padding-left: 30px;
        transition: right 0.3s ease-in;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.116);
    }

    ul li {
        margin: 40px 4px;
        display: table;
    }

    ul button {
        padding: 20px 20px;
    }

    .hamburger {
        display: block;
        font-size: 25px;
    }

    #check:checked~ul {
        right: 0%;
    }

    #check:checked~.hamburger>i::before {
        content: "✖";
        font-weight: bolder;
        font-size: 25px;
        vertical-align: top;
    }

    .logo {
        line-height: 30px;
    }

    .section-1 {
        height: 110vh;
    }

    .section-1 h1 {
        font-size: 2.5rem;
    }

    .section-1 p {
        font-size: 1.2rem;
        padding: 10px 60px;
    }

    .about {
        display: grid;
        grid-template-columns: 1fr;
        height: 150vh;
    }

    .project {
        padding-top: 60%;
        height: 100vh;
    }

    .about-2 {
        margin-left: -70px;
        text-align: left;
        padding: 30px 50px;
    }
}

@media only screen and (max-width: 500px) {
    .heading-sec p {
        font-size: 1.3rem;
        padding: 3% 3%;
    }

    .section-1 h1 {
        font-size: 2rem;
    }

    .section-1 p {
        font-size: 1rem;
        padding: 10px 60px;
    }

    .about-1 {
        text-align: left;
        padding: 30px 10px;
    }

    .about-2 {
        text-align: left;
        padding: 30px 70px;
    }

    .project {
        padding-top: 150%;
        height: 80vh;
    }

    .about-2>label {
        line-height: 55px;
    }

    .contact form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 70%;
        width: 100%;
        flex-direction: column;
    }

    nav ul {
        width: 40%;
    }

    footer h3 {
        padding: 0;
        font-size: 15px;
    }
    .gallary {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        place-items: center;
        width: 100%;
        max-width: 90%;
        margin: auto;
        padding: auto;
        gap: 10px 10px;
    }
}

@media only screen and (max-width: 425px) {
    .project {
        padding-top: 150%;
        height: 300vh;
    }

    .contact {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .project {
        padding-top: 200%;
        height: 290vh;
    }
    ul{
        width: 60%;
    }
}